In [1]:
from models import Environment, SolarCollector

In [2]:
s = SolarCollector(90)

In [3]:
data = s.total_irradiance

In [4]:
data

,poa_global,solar_elevation,temp_air,wind_speed,Int
time,,,,,
2005-01-01 05:17:00+05:30,0.00,0.00,18.61,1.71,0
2005-01-01 06:17:00+05:30,0.00,0.00,19.45,1.71,0
2005-01-01 07:17:00+05:30,0.00,1.33,20.28,1.71,1
2005-01-01 08:17:00+05:30,159.00,13.93,21.12,1.71,0
2005-01-01 09:17:00+05:30,375.01,25.69,22.26,1.58,0
...,...,...,...,...,...
2007-01-01 00:17:00+05:30,0.00,0.00,19.29,2.57,0
2007-01-01 01:17:00+05:30,0.00,0.00,18.58,2.50,0
2007-01-01 02:17:00+05:30,0.00,0.00,17.86,2.43,0
2007-01-01 03:17:00+05:30,0.00,0.00,17.86,2.43,0
2007-01-01 04:17:00+05:30,0.00,0.00,17.86,2.43,0

In [5]:
import json

with open('./load_profile.json') as f:
    load = json.load(f)

In [6]:
load

{'temperature': 60,
 'load_profile': [{'start': '08:00', 'end': '09:00'},
  {'start': '18:00', 'end': '21:00'}]}

In [ ]:
for period in load['load_profile']:
    start, end = period['start'], period['end']
    mask = (ddat.index.time >= pd.to_datetime(start).time()) & (ddat.index.time <= pd.to_datetime(end).time())
    print(ddat[mask])